@charset "UTF-8";

@keyframes rotation-animation {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(180deg);
    }
}

h1 {
    font-size: 30px;
  /*  text-decoration: underline overline;*/
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
}
h2 {
    font-size: 20px;
    /*text-decoration: underline;*/
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
    font-weight: 100;
}

  
.center1 {
  display: block;
  margin-left: 200px;
  margin-right: auto;
  width: 55%;
} 


.box {
  width:850px;
  padding-top:5px;
/*  border-style:solid;
  border-color:#336699;
  border-width:1px;*/
  padding-left:200px;
  padding-right: 500px;
  padding-bottom:10px;
  word-wrap: break-word;
  text-align: center
}
h4{
    font-size: 14px;
    /*text-decoration: underline;*/
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
    font-weight: 100
}



.center2 {
  display: block;
  margin-left: 550px;
  margin-right: auto;
  width: 55%;

}

/*#transformed-box-2{
    background:green; 
    position: relative;
    width: 200px;
    height: 200px;
    animation-name: rotation-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}*/

a{  
    display: inline-block;
    width: auto;
    height: auto;
    transform-origin: 50%;
    animation-name: rotation-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

